.o-size
	{
		height: 600px;
		width: 1400px;
	}

.o-bg-image
{
	background-image: url("../images/hyades.jpg") ;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;

}

.o-content-box
{
	height: 81%;
	width: 69%;
	background-image: url("../images/hyades.jpg");
	/*background: #b4bdaf;*/
	opacity: 1;
	margin-left: 15%;
	margin-top: 0%;
	border: solid 5px #68d0f2;
	
}                       		

.o-center
{
	/**margin-top: 50px;*/
	margin-left: 200px;
	/*font-size: 20px;*/
	font-weight: bolder;
	width: 400px;
}

#o-time-remaining	
{
	margin-left: 275px;
}

#start-button
{
	width:300px;
	margin-top:100px;
	margin-left: 300px;
	background: red;
	font-size: 26px;

}	

#question
{
	font-weight: bold;
	font-size:22px;
	margin-left: 100px;

#answer1
{
	display: block;
	margin:0 auto;
	font-weight: bold;
	font-size:22px;
}

#answer2
{
	display: block;
	margin:10px;
	margin:0 auto;
	font-weight: bold;
	font-size:22px;
}
#answer3
{
	display: block;
	margin:0 auto;
	font-weight: bold;
	font-size:22px;
}

#answer4
{
	display: block;
	margin:10px;
	font-weight: bold;
	font-size:22px;
}

#answer-message
{
margin:0 auto;
font-weight: bold;
font-size:22px;
}


#right-answer
{
margin:0 auto;
font-weight: bold;
font-size:22px;
}


#picture
{
margin:0 auto;
}

#correct
{
margin:0 auto;
font-weight: bold;
font-size:22px;
}

#incorrect
{
margin:0 auto;
font-weight: bold;
font-size:22px;
}

#unanswered
{
margin:0 auto;
font-weight: bold;
font-size:22px;
}



.start-over-button
{
	width:300px;
	margin:0 auto;
	margin-top:100px;
	margin-left: 300px;
	background: red;
	font-size: 26px;
}